{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/incident_form_question3.html">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check your answers before submitting the roles</h1>

    <h2 class="govuk-heading-m">Incident type</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Incident type
        </dt>
        <dd class="govuk-summary-list__value">
          Access
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Incident category
        </dt>
        <dd class="govuk-summary-list__value">
          Access denied
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Contact details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact details
        </dt>
        <dd class="govuk-summary-list__value">
          dave.critchlow@justice.gov.uk
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Perefered contact type
        </dt>
        <dd class="govuk-summary-list__value">
          Email
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Availability
        </dt>
        <dd class="govuk-summary-list__value">
          11pm - 7pm
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-m">Incident details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Details
        </dt>
        <dd class="govuk-summary-list__value">
          I am unable to access the role access area of the service to provide access for other users. I receive an error message "There is a problem with the service" when I try.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Supporting information
        </dt>
        <dd class="govuk-summary-list__value">
          screenshot.jpeg
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>
    </dl>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Only raise incidents that apply to the visit someone in prison service. If an incident is raised for another application it will not arrive with the correct product team and will slow down resolution. For all other DPS/NOMIS issues please contact the service desk.
      </strong>
    </div>

    <form action="/confirmation" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Raise your incident
      </button>

    </form>

  </div>
</div>
{% endblock %}
