{% extends "../partials/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageHeaderTitle = "Raise an Incident" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% set backLinkHref = "/incident/description" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>
    {% include "partials/errorSummary.njk" %}
    <h2 class="govuk-heading-m">Please provide the details needed to progress your incident</h2>
    <p class="govuk-body">Please provide your contact details, availability and as much information as you can about your issue.</p>

    <form action="/incident/contact" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukCheckboxes({
        idPrefix: "incidentContactType",
        name: "incidentContactType",
        fieldset: {
          legend: {
            text: "Best contact type",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        errorMessage: errors | findError('incidentContactType'),
        hint: {
          text: "What is the best method for us to contact you on today?"
        },
        items: [
          {
            value: "phone",
            text: "Telephone",
            checked: formValues.incidentContactType == "phone"
          },
          {
            value: "email",
            text: "Email",
            checked: formValues.incidentContactType == "email"
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          classes: "govuk-label--m",
          text: "Telephone number"
        },
        hint: {
          text: "A number we can contact you on"
        },
        errorMessage: errors | findError('incidentTelephone'),
        id: "incidentTelephone",
        name: "incidentTelephone",
        value: formValues.incidentTelephone
      }) }}

      {{ govukInput({
        label: {
          classes: "govuk-label--m",
          text: "Email address"
        },
        hint: {
          text: "Your justice.gov.uk email address (the one registered in ServiceNow)"
        },
        errorMessage: errors | findError('incidentEmail'),
        id: "incidentEmail",
        name: "incidentEmail",
        value: formValues.incidentEmail
      }) }}

      {{ govukInput({
        label: {
          classes: "govuk-label--m",
          text: "Availability"
        },
        hint: {
          text: "1PM - 4PM"
        },
        errorMessage: errors | findError('incidentAvailability'),
        id: "incidentAvailability",
        name: "incidentAvailability",
        value: formValues.incidentAvailability
      }) }}

      {{ govukSelect({
        id: "incidentSubject",
        name: "incidentSubject",
        label: {
          text: "Application",
          classes: "govuk-label--m"
        },
        errorMessage: errors | findError('incidentSubject'),
        hint: {
          text: "This is the part of digital prison services you are currently in"
        },
        items: [
          {
            value: "",
            text: "Choose location",
            selected: true
          },
          {
            value: "manageprisonvisits",
            text: "Manage Prison Visits"
          },
          {
            value: "onlinevisitrequests",
            text: "Online Visit Requests"
          },
        ]
      }) }}

      {{ govukTextarea({
        name: "incidentDescription",
        id: "incidentDescription",
        label: {
          text: "Give details",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        errorMessage: errors | findError('incidentDescription'),
        hint: {
          text: "Offer as much supporting information to help us resolve"
        },
        value: formValues.incidentDescription
      }) }}

      {{ govukButton({
        text: "Check your answers"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
