{% extends "../partials/layout.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Raise an Incident" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% set backLinkHref = "/incident/category" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>
    {% include "partials/errorSummary.njk" %}

    <form action="/incident/description" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      {{ govukTextarea({
        name: "incidentDescription",
        id: "incidentDescription",
        label: {
          text: "What short description would best explain your issue?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        errorMessage: errors | findError('incidentDescription'),
        value: formValues.incidentDescription if formValues.incidentDescription == "access-issue"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
