{% extends "layout.html" %}

{% block pageTitle %}
Incident Support Page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/incident_form_question3.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <header>
      <span class="govuk-caption-xl"> Help to</span>
      <h1 class="govuk-heading-xl">Raise an incident</h1>
    </header>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset " aria-describedby="sign-in-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h3 class="govuk-fieldset__heading">
            Please provide the details needed to progress your incident
          </h3>
        </legend>

        <div id="sign-in-hint" class="govuk-hint">
          Please provide your contact details, availability and as much information as you can about your issue
        </div>

        <br>

        <label for="id_phone_number" id="id_best_contact" class="govuk-label ">
          Best contact type
        </label>

        <div id="sign-in-hint" class="govuk-hint">
          What is the best method for us to contact you on today?
        </div>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Phone
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Email
            </label>
          </div>
        </div>

        <br>

        <label for="id_contact_details" id="id_prisoner_number-label" class="govuk-label ">
          Contact details
        </label>
        <span id="id_ticket_content-hint" class="govuk-hint">Example. Phone number or justice.gov.uk email address</span>

        <input id="id_prisoner_number" class="govuk-input  govuk-input--width-10 mtp-input--prisoner-number" name="prisoner_number" value="" type="text" </div> <form action="/check-your-answers" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">



        </div>
        <input type="hidden" name="answers-checked" value="true">

        <div id="id_ticket_content-wrapper" class="govuk-form-group ">

          <label for="id_prisoner_number" id="id_prisoner_number-label" class="govuk-label ">
            Availability
          </label>
          <span id="id_ticket_content-hint" class="govuk-hint">1am-4PM</span>
          <input id="id_prisoner_number" class="govuk-input  govuk-input--width-10 mtp-input--prisoner-number" name="prisoner_number" value="" type="text" </div> <br>
          <div id="id_prisoner_number-wrapper" class="govuk-form-group ">
            <br>

            <label for="id_ticket_content" id="id_ticket_content-label" class="govuk-label ">
              Give details
            </label>

            <span id="id_ticket_content-hint" class="govuk-hint">Offer as much supporting information to help us resolve </span>

            <textarea id="id_ticket_content" class="govuk-textarea   " name="ticket_content" rows="6" cols="50" aria-describedby=" id_ticket_content-hint"></textarea>
          </div>
          <br>
          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
              Please upload any supporting information (eg, JPEG, Word Document)
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
          </div>

          <br>
          <form action="/check-your-answers.html" method="post" novalidate>
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>

          </form>

        </div>
    </div>



    {% endblock %}
