{% extends "../partials/layout.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageHeaderTitle = "IT Incident Hub" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% block content %}
  <div class="govuk-body">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <p class="govuk-body">
        Welcome to the IT Incident Support Hub. If you wish to have your service added to the Hub, please contact DPS product support team via https://forms.office.com/r/gjL9uyCsHL and 'onboarding a new service'.
      </p>
    </div>
  </div>
{% endblock %}
