{% extends "../partials/layout.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageHeaderTitle = "Help with " + clientName %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% block content %}
  <div class="govuk-body">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <p class="govuk-body">
        The IT Incident Hub is an self-service application offering HMPPS digital service user's IT service desk-type support and the ability to solve IT issues via:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Frequenty asked questions offering a first-time fix where applicable</li>
        <li>The ability to raise incidents</li>
      </ul>

      <p class="govuk-body">
        Check if the answer is here before contacting us.
      </p>

      {{ govukAccordion({
        id: "accordion-default",
        items: faqsForDisplay
      }) }}

      <p class="govuk-body">
        If you have not found the answer
      </p>

      {{ govukButton({
        text: "Raise an Incident",
        href: "/incident/type"
      }) }}
    </div>
  </div>
{% endblock %}
